*
body{
	background-image: url("./assets/bg.jpg") no-repeat;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flashcard-container{
	padding: 20px 9%;
	padding-bottom: 100px;

} 

.heading{
	text-align: center;
	padding-bottom: 50px;
	color: rgb(0, 0, 0);
	font-size: 40px;
} 

.flashcard-container .fbox-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 40px;
}

.fbox{
	border-radius: 10px;
	background: #0c1e36e7;
	text-align: center;
	padding: 70px 20px;
	
}  
.fbox H3 {
	color: white;
}

.fbox p{
	color: rgb(180, 180, 180);
}

.flashcard-container .fbox-container .fbox .btn{
	text-decoration: none;
	margin-top: 10px;
    display: inline-block;
    background:#ffffff;
    color:#000000;
    font-size: 17px;
    border-radius: 10px;
    padding: 5px 20px;
}

.flashcard-container .fbox-container .fbox:hover{
    transform: scale(1.03);
}

